<div data-notif class="dropdown ea-notif ms-2">
	<button type="button" class="btn btn-icon position-relative ea-notif-button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Notifications">
		<i class="fa-regular fa-bell fa-lg text-white"></i>
		<span class="ea-notif-badge position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger fs-8"></span>
	</button>

	<div class="dropdown-menu dropdown-menu-end p-0 shadow border-0 ea-notif-list-wrapper" style="min-width: 380px; max-height: 65vh; overflow-y: auto;">
		<ul class="ea-notif-list list-group list-group-flush">
			<li class="dropdown-item text-muted text-center py-3">Chargement…</li>
		</ul>

		<div class="p-2 border-top bg-light text-end">
			<button class="btn btn-sm btn-link ea-notif-readall text-decoration-none">
				<i class="fa fa-check-double me-1"></i>
				Tout marquer comme lu
			</button>
		</div>
	</div>
</div>
