<footer id="sticky-footer" class=" w-100 flex-shrink-0 py-4 bg-primary-subtle text-dark">
    <div class="container text-center">
        <small>Copyright 2025&copy; LIGAIR Interne </small>
    </div>
</footer>