{% if field.value is null %}

    <a href="{{ path('admin', {
        'crudAction': 'new',
        'crudControllerFqcn': 'App\\Controller\\Admin\\CotechVacarmMaterielCrudController',
        'adherentId': entity.primaryKeyValue
    }) }}"
    class="btn btn-sm btn-success">
        Ajouter
    </a>

{% else %}
    <span class="text-muted">Déjà associé</span>
{% endif %}
